{% extends "grow/layout.html" %}

{% block content2 %}
<div class="col-sm-10">
    <h1>My Dashboard</h1>
    <hr>

    <!-- Cards -->
    <div class="card bg-light">
        <div class="card-body">
            <h4>Current Courses</h4>
            <p>Intro to Python</p>
            <p>Web Development</p>
        </div>
    </div>

    <div class="card bg-light">
        <div class="card-body">
            <h4>Certificates</h4>
            <p>Python Basics - Issued on 5/12/22</p>
        </div>
    </div>

    <div class="card bg-light">
        <div class="card-body">
            <h4>Activity</h4>
            Last login: 12/28/2023<br>
            5 courses in progress
        </div>
    </div>

</div>
</div>
{% endblock content2 %}