{% extends "layout.html" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static', filename='chatbot_styles.css')}}">
{% endblock %}

{% block content %}
<div id="heading">
    <h1>Lumi</h1> 
</div>

<div class="messagebot">
  Hello! I'm Lumi🌞, how are you feeling today?
</div>

<div class="chat-container">
  <!-- Display previous chat messages -->
  {% for message in chat_messages %}
    {% if message.type == 'user' %}
        <div class="user-message">{{ message.content }}</div>

    {% elif message.type == 'bot' %}
        <div class="bot-message">{{ message.content }}</div>
    {% endif %}
  {% endfor %}
</div>

<form id="chat-form" method="post" action="{{url_for('parent_bot')}}">
  <textarea name="user_input" placeholder="Talk to Lumi ♡"></textarea>
  <button type="submit">Send</button>
</form>
{% endblock content %}
